---
import ExternalLinkCard from '@/components/block/ExternalLinkCard.astro';

export interface ExternalLink {
  name: string;
  href: string;
  description: string;
}

interface Props {
  title: string;
  subtitle?: string;
  externalLinks: ExternalLink[];
  className?: string;
}

const { 
  title,
  subtitle,
  externalLinks,
  className = '',
} = Astro.props;
---

<section class={className}>
    <h2 class="mt-0">{title}</h2>
    <p>
      <slot />
    </p>
    {subtitle && <h3 class="mt-15 mb-0">{subtitle}</h3>}
    <div id="contributions" class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-y-8 md:gap-x-50 py-6 md:py-8">
        {externalLinks.map((externalLink) => (
            <ExternalLinkCard 
              title={externalLink.name}
              href={externalLink.href}
              description={externalLink.description}
            />
        ))}
    </div>
</section>