---
import GovernanceCard from '@/components/block/GovernanceCard.astro';

export interface GovernanceLink {
  name: string;
  href: string;
  description: string;
}

interface Props {
  title: string;
  subtitle?: string;
  governanceLinks: GovernanceLink[];
  className?: string;
}

const { 
  title,
  subtitle,
  governanceLinks,
  className = '',
} = Astro.props;
---

<section class={className}>
    <h2 class="mt-0">{title}</h2>
    <p>
      <slot />
    </p>
    {subtitle && <h3 class="mt-15 mb-0">{subtitle}</h3>}
    <div id="governance" class="mt-15 grid grid-cols-1 gap-y-0 pt-0 pb-6 md:pb-8">
        {governanceLinks.map((governanceLink) => (
            <GovernanceCard 
              title={governanceLink.name}
              href={governanceLink.href}
              description={governanceLink.description}
            />
        ))}
    </div>
</section>
