---

import Icon from '@/components/block/Icon.astro';
import GitHubStats from '@/components/block/GitHubStats.astro';
import Button from '@/components/ui/Button.astro';
import { featuredProjects } from './featured-projects';
import "@/styles/global.css";

export interface Project {
  name: string;
  href: string;
  iconName: string;
  paragraphs: string[];
  starsAndForks?: string,
  followers?: string,
}

---

<h2>Featured Projects</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-y-16 md:gap-x-50 py-6 md:py-8">

{featuredProjects.map((project) => (
  <div class="space-y-6">
    
    <div class="w-[90px] h-[90px]">
      <Icon name={project.iconName} class="w-full h-full" />
    </div>
    
    <div class="space-y-4">
      <h3 class="text-2xl font-semibold mx-0 mt-2 mb-0">{project.name}</h3>
      
      <div class="flex items-center gap-4">
        {project.starsAndForks && (
          <GitHubStats type="stars" size="default" repo={project.starsAndForks}/>
        )}
        {project.starsAndForks && (
          <GitHubStats type="forks" size="default" repo={project.starsAndForks}/>
        )}
        {project.followers && (
          <GitHubStats type="followers" size="default" account={project.followers}/>
        )}
      </div>
      
      <div class="space-y-4">
        {project.paragraphs.map((paragraph) => (
          <p class="text-foreground text-normal">
            {paragraph}
          </p>
        ))}
      </div>
      
      <Button 
        variant="outline" 
        size="default" 
        href={project.href}
        target="_blank"
        rel="noopener noreferrer"
        class="gap-2 w-fit no-underline"
      >
        Learn more
        <Icon name="arrow-right" class="w-4 h-4" />
      </Button>
    </div>
    
  </div>
))}

</div>