---
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import CTASection from '@/components/block/CTASection.astro';
import ExploreProjects from "@/components/blockopensource/ExploreProjects.astro";
import Foundations from "@/components/blockopensource/Foundations.astro";
import ContentSection from "@/components/block/ContentSection.astro";
import FeaturedProjects from "@/components/blockopensource/FeaturedProjects.astro";
import OpenSourceContributions from "@/components/blockopensource/OpenSourceContributions.astro";
import GovernanceAndStandards from "@/components/blockopensource/GovernanceAndStandards.astro";
import Participate from "@/components/blockopensource/Participate.astro";

const pageTitle = "Block - Open Source";
const title = "Our Vision for Open Source";
const tagline = "Block Open Source";
const description = "At Block, we believe open source is at the heart of innovation and community empowerment. Our vision is to nurture a diverse and vibrant open source ecosystem that removes barriers to technology and fosters economic opportunities for all.";

---

<ContentPageLayout title={pageTitle}
  showBreadcrumbs={false}
  showTitleAsH1={false}
>

  <CTASection
    title={title}
    tagline={tagline}
    description={description}
    layout="minimal"
    taglineIconName="block-open-source/block"
  >
    <div class="text-lg">

        By collaborating in the open, we create higher quality software, hardware, 
        and protocols through relentless collective examination, and also ensure our systems, 
        hardware, and protocols evolve to meet real-world needs.
    </div>
    <div class="text-lg">
      We are committed to building solutions that serve our customers, while enriching the 
      broader developer community with open, accessible tools. Our open source strategy 
      emphasizes transparency, collaboration, and shared progress—because building together 
      empowers everyone.

  </div>
  </CTASection>

  <FeaturedProjects />

  <ContentSection className="pt-20 content-width-responsive">

    <ExploreProjects />

  </ContentSection>

  <div class="p-12"/>

  <OpenSourceContributions className="content-width-responsive" />

  <ContentSection
    className="pt-8 pb-25 content-width-responsive">

    <Participate />

  </ContentSection>

  <GovernanceAndStandards className="content-width-responsive"/>

  <ContentSection className="content-width-responsive">

    <Foundations />

  </ContentSection>

</ContentPageLayout>

